<footer id = "foot">
    <div>VARUN SHARMA. All Right Reserved</div>
    <div id = "links">
        <li>
            <a href = "/">Home</a>
        </li>
        <li>
            <a href = "/users/profile">Profile</a>
        </li>
    </div>
</footer>