// #aaaa {
//     position: relative;
//     height: 100%;
//     width: 100%;
// }

#foot {
    // position: absolute;
    display: flex;
    color: white;
    // font-size: 1.5rem;
    font-weight: 900;
    background-color: darkgray;
    padding: 10px 0px;
    // bottom: 0;
    // width: 100%;
}

#links {
    margin-left: 20px;
    list-style-type: none;
    a {
        text-decoration: none;

    }
}